body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-family: "Arial";
}

h1 {
    text-align: center;
    color: #A0BF56;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-bottom: 10px;
}

img {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
}
/************************
 *  EMAIL-HEADER-INPUT  *
 ************************/
#email-header-input textarea  {
    height: 300px;
    resize: none;
    width: 100%;
}

button {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 30px;
    background: #A0BF56;
    border-radius: 8px;
    border: 1px solid black;
    font-weight: bold;
}
/************************
 *  RECEIVED-TABLE      *
 ************************/
#received-table {
    margin-top: 15px;
    display: none;
}

table {
    border-collapse: collapse;
}

table, thead, td {
    border: 3px solid black;
}

thead, td {
    padding: 10px;
    text-align: left;
}

thead {
    text-align: center;
    font-weight: bold;
    background-color: #A0BF56;
}
/************************
 *  PARSE-RESULTS       *
 ************************/
#parse-result, cc-p, to-p {
    display: none;
}

.email-fields {
    text-transform: uppercase;
    font-weight: bold;
}

/************************
 *  RECEIVED-TABLE      *
 ************************/
#ip-table {
    margin-top: 15px;
    display: none;
}

/************************
 *  MAP                 *
 ************************/
#map {
    margin-top: 15px;
    height: 400px;
    width: 100%;
}
