h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.emailHeader textarea  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 300px;
}

button {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 30px;
}

.result {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.email-fields {
    text-transform: uppercase;
    font-weight: bold;
}

h1, p, span {
    font-family: "Arial";
}
