h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.emailHeader textarea  {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
