body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

h1 {
    text-align: center;
}

#email-header-input textarea  {
    height: 300px;
    resize: none;
    width:100%;
}

button {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 30px;
}

.email-fields {
    text-transform: uppercase;
    font-weight: bold;
}

h1, p, span {
    font-family: "Arial";
}

#parse-result {
    display: none;
}
