body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-family: "Arial";
}

h1 {
    text-align: center;
}
/************************
 *  EMAIL-HEADER-INPUT  *
 ************************/
#email-header-input textarea  {
    height: 300px;
    resize: none;
    width:100%;
}

button {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 30px;
}
/************************
 *  RECEIVED-TABLE      *
 ************************/
#received-table {
    margin-top: 15px;
    display: none;
}

table {
    border-collapse: collapse;
}

table, thead, td {
    border: 3px solid black;
}

thead, td {
    padding: 10px;
    text-align: left;
}

thead {
    text-align: center;
    font-weight: bold;
}
/************************
 *  PARSE-RESULTS       *
 ************************/
#parse-result {
    display: none;
}

.email-fields {
    text-transform: uppercase;
    font-weight: bold;
}
